a:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 30px;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

a:hover {
  color: #eee;
}
