.main  {
    padding : 20 ;
    background: rgb(27, 10, 13); 
    height : 200px;
    width : 500px;
    margin : 10;
   
   }
   .pad {
       padding: 10px;
   }
.divRow  {
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
}
.link  {
    font-size: 1.4rem;
    color : black;
    font-weight : 600;
    text-decoration: none;
    
  }
  
  .mini-project {
   
   
    padding: 10px;
}
.bk0 {
    background-image: url("./pb-1.jpg") ;

}

.bk1 {
    background-image: url("./pb2-2.jpg") ;
}
.bk2 {
    background-image: url("./pb-3.jpeg") ;
}
.bk3 {
    background-image: url("./proj-back-2.jpeg") ;
}
.bk4 {
    background-image: url("./navheader.jpg") ;
}
